<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <title>Javamator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
    <style>
        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
            margin: auto;
            width: 100%;
        }

        .modal-footer {
            background-color: #f9f9f9;
            display: block;
        }

        .footer-content {
            text-align: center;
        }
    </style>
</head>


<body>
<nav class="navbar navbar-inverse" id="sticky-top">
    <span id="username"></span>

    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Thing
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Thing 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Thing 2</a>
            <a class="dropdown-item" href="#">Thing 3</a>
        </div>
    </div>
    <button type="button" class="btn btn-outline-warning navbar-btn navbar-right" id="login-btn"
            data-target="#login-modal" data-toggle="modal">Login
    </button>
</nav>

<div class="modal fade" id="login-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4>Login</h4></div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form">
                    <div class="form-group">
                        <label for="usrname">Username</label>
                        <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="psw">Password</label>
                        <input type="text" class="form-control" id="psw" placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <p class="footer-content">Not a member? <a href="#">Sign Up</a></p>
                <p class="footer-content">Forgot <a href="#">Password?</a></p>
            </div>
        </div>
    </div>
</div>
</body>

</html>
